html {
    height: 100%;
    width: 100%;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html , body {
    background-color: black;
    color: white;
  }
  .titulo{
    font-size: 30px;
    font-family: comic sans ms;
  }
  .navbar {
    display: flex;
  }
  .logo {
    width: 80px;
    height: auto;
    border-radius: 50%;
  }
  .header {
    background-color: #0f0202;
    padding: 20px;
    
  }
  .menuSuperior:hover {
    color: red;
  }
  .menuSuperior {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
  }
  .menuSuperior {
    display: inline-block;
    margin: 0 10px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .grupoElementos{ 
    display: flex;
    align-items: center;
    width: 100%;
    height: 560px;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
  }
  #voltar{
    height: 35px;
    width: 100px;
  }
  #botaoVoltar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .blocoElementos {
    
    width: 300px;
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .item {
    padding: 10px;
  }

  #hpPlayer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: #00ff4c;
    width: 300px;
    height: 30px;
    border-radius: 4px  ;
  }
  
